.App {
  text-align: center;
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  /* background-color: white;
  color:white;
  min-height: 100vh; */
}
/* h1{
  margin:0;
}
.header{
  background-color: rgb(18, 48, 91);
  padding:8px;
}

.movie{
  background-color: rgb(174, 106, 17);
  color:black;
  border:1px solid rgb(247, 226, 3);
  padding:3px;
  text-align:start;
  width:22%;
  margin-top:14px;
}
.main{
  display:flex;
  justify-content:space-between;

  flex-wrap:wrap;
  padding:14px;
}
.movie img{
  width:100%;
  height:220px;
} */


h1{
  margin:0;
}
.header{
  background-color:green;
  padding:14px;
  width:100%;
}
.form{
   margin-top:20px;
}
.data{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:20px;
  width:100%;
}
.data_val{
  color:black;
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:60%;
  padding:0 9px 0 9px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main{
  width:100vw;
  display:flex;
  height:90vh;
  justify-content:center;
  align-items:center;
}
.img-wrapper img{
  /* width:30%; */
  height:300px;
}
.cart-wrapper{
  height:100px;
  width:500px;

}
.btn-wrapper button{
  background-color: red;
  border:0 px;
  padding:10px;
  border-radius:4px;
  color:#fff;
}